html{
    font-size: 10px;
    font-family: sans-serif;
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
}
:root{
    --white:#fff;
    --dark:#171717;
    --lightgray:rgb(207, 204, 204);
    --black:#000;
    --darkblue:#191b1f;
}
.darkMode{
    --white:#171717;
    --dark:rgb(207, 204, 204);
    /* --lightgray:#191b1f; */
    --darkblue:rgb(207, 204, 204);
}
.container{
    width: 100%;
    height: 100%;
    position: relative;
}
nav{
    width: auto;
    height: 6rem;
    background: var(--dark);
    color: var(--white);
}
._nav-all{
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar .logo{
    font-size: 1.6rem;
}
.navbar ul {
    display: flex;
}
.navbar ul li{
    position: relative;
    list-style: none;
    padding: 0 2rem;
    font-size: 18px;
    font-weight: 500;
    opacity: .8;
    cursor: pointer;
}
.navbar ul li a{
    text-decoration: none;
    color: var(--white);
}
.navbar ul li ::before{
    position: absolute;
    content: "";
    height: .2rem;
    width:0;
    background:var(--white);
    bottom: -8%;
    left: 5%;
}
.navbar ul li:hover ::before{
    width: 90%;
    transition: .6s ease;
}
._nav-all .dark-mode{
    font-size: 2rem;
}
._nav-all .hamburger{
    display: flex;
    justify-content: center;
    flex-direction: column;
    visibility: hidden;
}
._nav-all .hamburger #span1{
    width: 3rem;
    height: .4rem;
    background: var(--white);
    margin-top: .2rem;
}
._nav-all .hamburger #span2{
    width: 2rem;
    height: .4rem;
    background: var(--white);
    margin-top: .2rem;
}
._nav-all .hamburger #span3{
    width: 1rem;
    height: .4rem;
    background: var(--white);
    margin-top: .2rem;
}
.fixed-top{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
}
.nav_small{
    position: fixed;
    min-height: 100vh;
    top: 0;
    left: -500%;
    width: 100%;
    background: rgba(37, 37, 37, 0.5);
    z-index: 999;
}
.nav_small ul li{
    list-style: none;
    position: relative;
    margin-top: 10rem;
}
.nav_small ul li a{
    text-decoration: none;
    color: var(--white);
    font-size: 2rem;
}
.nav_small ul li ::before{
    position: absolute;
    content: "";
    height: .2rem;
    width:0;
    background:var(--white);
    bottom: -8%;
    left: 0;
}
.nav_small ul li:hover ::before{
    width: 7rem;
    transition: .6s ease;
}
.nav_small .small_hamburger{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-items:flex-start;
    flex-direction: column;
    margin-top: 1rem;
}
.nav_small .small_hamburger #span4{
    width: 3rem;
    height: .4rem;
    background: var(--white);
    margin-top: .2rem;
}
.nav_small .small_hamburger #span5{
    width: 2rem;
    height: .4rem;
    background: var(--white);
    margin-top: .2rem;
}
.nav_small .small_hamburger #span6{
    width: 1rem;
    height: .4rem;
    background: var(--white);
    margin-top: .2rem;
}
.banner{
    height: 70vh;
    width: 100%;
    position: relative;
    background: var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--white);
}

.banner .image{
    height: 150px;
    width: 150px;
    position: relative;
}
.banner .image img{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.banner .text{
    text-align: center;
}
.banner .text h1{
    font-size: 5.5rem;
}
.banner .text p{
    font-size: 2.2rem;
}
.banner .text span{
    font-size: 1.6rem;
}
.banner .social_link{
    text-align: center;
    padding: 1rem 0;
}
.banner .social_link a{
    border-radius: 22px;
    padding:.7rem 1.5rem ;
    text-decoration: none;
    margin: 0 .5rem;
    font-size: 1.2rem;
    color: var(--white);
}
.banner .social_link a:hover{
    transform: translateY(15%);
    transition: .3s ease-in-out;
}
.section_work{
    width: 100%;
    height: auto;
    background: #191b1f;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section_work #h1_s{
    color: var(--white);
    font-size: 3rem;
    position: relative;
}
.section_work #h1_s::before{
    background: var(--white);
    font-size: 3rem;
    position: absolute;
    content:'';
    width: 14rem;
    height: .2rem;
    left: -5%;
    bottom: -10%;

}

.section_box{
    padding: 5rem 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );
    row-gap:4rem;
}
.section_work .box{
    padding-top: 2rem;
    text-align: center;
    width: 350px;
    height:350px;
    background: var(--dark);
    color:var(--white);
    margin:0 auto;
}
.section_work .box i{
    font-size: 12rem;
}
.section_work .box h1{
    font-size: 3rem;
}
.section_work .box p{
    text-justify:auto;
    font-size: 1.4rem;
}
.box:hover{
    transform: translateY(-7%);
    transition: .7s ease-in-out;
}
.section_contact{
    display: flex;
    flex-direction: column;
    color: var(--white);
    
}
.section_contact .con-top{
    background: var(--dark);
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 20rem;
}
.section_contact .con-top h1{
    font-size: 3.3rem;
}
.section_contact .con-top p{
    font-size: 1.6rem;
}
.section_contact .con-bottom{
    background: var(--lightgray);
    /* min-height: 20vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 3rem;
}
.section_contact .con-bottom .con-left{
    width:auto;
    height: auto;
    background-color: var(--white);
    margin-top: -10rem;
    padding: 3em;
    color: var(--black);
}
.section_contact .con-bottom .con-left .form-control{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section_contact .con-bottom .con-left .form-group{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 1rem;
}
.section_contact .con-bottom .con-left .form-group label{
    font-size: 1.7rem;
    color: var(--dark);
}
.section_contact .con-bottom .con-left .form-group input{
    width: 25rem;
    height: 2.5rem;
    border:1px solid #ff0303;
    outline: none;
}
.section_contact .con-bottom .con-left .form-group textarea{
    width: 52rem;
    height: 10rem;
    border:1px solid #ff0303;
    outline: none;
}
.button-sent{
    background-color: white;
    color: var(--black);
    border: 2px solid #ff0303;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.6rem;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius:20%;
}

.button-sent:hover {
    background-color: #867f7f;
    border: 2px solid #867f7f;;
    color: var(--white);
}
/*Bounce*/
@keyframes kreep {
    0% {-webkit-transform: scale(1.1,.9);
        transform: scale(1.1,.9);}
   50% { -webkit-transform: scale(.9,1.1) translateY(-.5rem)}
   70% { -webkit-transform: scale(1);
         transform: scale(1);}
}
.kreep {
    display: inline-block;
    animation: kreep 0.7s ease 2s infinite alternate;
  }
  
.kreep:hover {
    animation: none;
  }
footer{
    background:var(--darkblue);
    height:15rem;
}
.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
._footer-box{
width: 25rem;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: var(--white);
}
._footer-box p{
    text-align: center;
    font-size: 1.6rem;
    position: relative;
}
._footer-box p::before{
    position: absolute;
    content: "";
    height: .15rem;
    bottom: -7%;
    left: -8%;
    animation: animi .5s infinite;
}
@keyframes animi{
    0%{
        width: 0;
        background-color: red;
    }
    30%{
        width: 30%;
        background-color: rgb(230, 255, 9);
    }
    60%{
        width: 60%;
        background-color: rgb(26, 64, 236);
    }
    100%{
        width: 120%;
        background-color: rgb(30, 139, 63);
    }
}
._footer-box .social{
    display: inline-flex;
}
._footer-box .social a{
    margin: 0 .5rem;
}
.footer-text{
    text-align: center;
    color: var(--white);
    font-size: 1.2rem;
    position: relative;
    margin-top: 2rem;
}
.footer-text::after{
    position: absolute;
    content: '';
    width: 80%;
    height: .1rem;
    background-color: var(--white);
    left: 10%;
    top: -1rem;
}

@media screen and (max-width:580px){
._nav-all{
    justify-content: space-between;
    padding: 0 1rem;
}
.navbar{
    display: none;
}
.dark-mode{
    display: none;
}
.logo{
    display: none;
}
._nav-all .hamburger{
    visibility: visible;
    align-items: flex-start;
}
.banner{
    height: 100vh;
}

@media screen and (max-width:740px){
    .section_work .box{
        margin: 0 auto;
    }
    
}
@media screen and (max-width:612px){
    
    .section_contact .con-bottom .con-left{
        width: 70%;
    }
    .section_contact .con-bottom .con-left .form-group label{
        font-size: 1.7rem;
    }
    .section_contact .con-bottom .con-left .form-group input{
        width: 18rem;
        height: 2.5rem;
      
    }
    .section_contact .con-bottom .con-left .form-group textarea{
        width: 38rem;
        height: 7rem;
    }
}
@media screen and (max-width:480px){
    
    .section_contact .con-bottom .con-left{
        width: 25rem;
    }
    .section_contact .con-bottom .con-left .form-control{
        display: block;
    }
    .section_contact .con-bottom .con-left .form-group label{
        font-size: 1.7rem;
    }
    .section_contact .con-bottom .con-left .form-group input{
        width: 22rem;
        height: 2.5rem;
      
    }
    .section_contact .con-bottom .con-left .form-group textarea{
        width: 22rem;
        height: 7rem;
    }
}
