<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/css.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>


</head>

<body>
    <div class="container">
        <nav id="nav">
            <div class="_nav-all">
                <div class="logo">
                    <h1>SAMISHAN THAPA</h1>
                </div>
                <div class="navbar">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Project</a></li>
                        <li><a href="#">contact</a></li>
                    </ul>
                </div>
                <div class="dark-mode">
                    <i class="fas fa-sun"></i>
                </div>
                <div class="hamburger">
                    <span id="span1"></span>
                    <span id="span2"></span>
                    <span id="span3"></span>
                </div>
            </div>
        </nav>
        <div class="nav_small">
            <div class="small_hamburger">
                <span id="span4"></span>
                <span id="span5"></span>
                <span id="span6"></span>
            </div>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Project</a></li>
                <li><a href="#">contact</a></li>
            </ul>
        </div>
        <div class="banner">
            <div class="image">
                <img src="/static/uploads/samishan.jpg" alt="samishan">
            </div>
            <div class="text">
                <h1>Hi, I,m Samishan</h1>
                <p>I design and build a websites as a developer</p>
                <!-- <span>I'm building an analytics SaaS called Affilimate and a newsletter and community called Blogging
                    for Devs. Find out more on the blog →</span> -->
                <span>Currently I am studying computer science at the Coventry University and I am at 3rd year of the batchor. If you are looking for the web developer contact me for the more  →</span>
            </div>
            <div class="social_link">
                <a class="fab fa-facebook-f" style="background-color:#3B5998;" href="">&nbsp;Follow</a>
                <a class="fab fa-instagram" style="background-color:#E1306C ;" href="">&nbsp;Follow</a>
                <a class="fab fa-twitter" style="background-color:#1DA1F2 ;" href="">&nbsp;Follow</a>
            </div>
        </div>
        <div class="section_work">
            <h1 id="h1_s">My Skills</h1>
            <div class="section_box">
                <div class="box">
                    <i class="fas fa-mobile"></i>
                    <div data-tilt data-tilt-max="50" data-tilt-speed="400" data-tilt-perspective="500" class="info_box">
                        <h1>App Developer</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim totam sapiente rem ipsam. Est,
                            neque.</p>
                    </div>
                </div>

                <div class="box">
                    <i class="fab fa-python"></i>
                    <div class="info_box">
                        <h1>Software Developer</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim totam sapiente rem ipsam. Est,
                            neque.</p>
                    </div>
                </div>

                <div class="box">
                    <i class="fas fa-mobile"></i>
                    <div class="info_box">
                        <h1>App Developer</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim totam sapiente rem ipsam. Est,
                            neque.</p>
                    </div>
                </div>

                <div class="box">
                    <i class="fas fa-mobile"></i>
                    <div class="info_box">
                        <h1>App Developer</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim totam sapiente rem ipsam. Est,
                            neque.</p>
                    </div>
                </div>

            </div>

        </div>
        <div class="section_contact">
            <div class="con-top">
                <h1>Contact Me</h1>
            </div>
            <div class="con-bottom">
                <div class="con-left" data-aos="flip-right">
                    <form action="">
                        <div class="form-control">
                            <div class="form-group">
                                <label for=""> <i class="fas fa-user"></i>Name</label>
                                <input type="text" name="name" id="name">
                            </div>
                            <div class="form-group">
                                <label for=""><i class="fas fa-home"></i>Address</label>
                                <input type="text" name="address" id="address">
                            </div>
                        </div>
                        <div class="form-control">
                            <div class="form-group">
                                <label for=""><i class="fas fa-envelope"></i>Email</label>
                                <input type="email" name="email" id="email">
                            </div>
                            <div class="form-group">
                                <label for=""><i class="fas fa-phone-alt"></i>Phone</label>
                                <input type="number" name="phone" id="phone">
                            </div>
                        </div>
                        <div class="form-control">
                            <div class="form-group">
                                <label for=""><i class="fas fa-pen"></i>Message</label>
                                <textarea name="message" id="message" cols="45" rows="5"></textarea>
                            </div>
                        </div>
                        <div class="kreep">
                            <button class="button-sent"><b>Send</b></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <footer>
            <div class="footer-container">
                <div class="_footer-box">
                    <p>Contact</p>
                    <div class="social" style="flex-direction: column;">
                        <i class="fas fa-envelope" style="color: #fff;"> <span style="font-size: 1.2rem;">samishanthapa0@gmail.com</span></i>
                        <i class="fas fa-phone-alt" style="color: #fff; margin-top: .7rem;"><span style="font-size: 1.2rem;"> +977-9866701165</span></i>
                    </div>
                </div>
                <div class="_footer-box">
                    <p>Social</p>
                    <div class="social s-icon">
                        <a class="fab fa-facebook-f"
                            style="background-color:#3B5998; border-radius: 50%; width: 30px; height: 30px; color: #fff; text-decoration: none; display: flex; justify-content: center; align-items: center;"
                            href=""></a>
                        <a class="fab fa-instagram"
                            style="background-color:#E1306C; border-radius: 50%; width: 30px; height: 30px; color: #fff; text-decoration: none; display: flex; justify-content: center; align-items: center;"
                            href=""></a>
                        <a class="fab fa-twitter"
                            style="background-color:#1DA1F2; border-radius: 50%; width: 30px; height: 30px; color: #fff; text-decoration: none; display: flex; justify-content: center; align-items: center;"
                            href=""></a>
                        <a class="fab fa-youtube"
                            style="background-color:#f21d1d; border-radius: 50%; width: 30px; height: 30px; color: #fff; text-decoration: none; display: flex; justify-content: center; align-items: center;"
                            href=""></a>
                    </div>
                </div>
            </div>
            <p class="footer-text">Samishan Thapa &copy 2021</p>
        </footer>
    </div>
    <script type="text/javascript" src="vanilla-tilt.babel.min"></script>
    <script>
        var hamburger = document.querySelector('.hamburger')
        var nav = document.querySelector('.nav_small')
        var navbar = document.querySelector('#nav')
        var small_hamburger = document.querySelector('.small_hamburger')
        var dark = document.querySelector('.fa-sun')
        hamburger.addEventListener('click', function () {
            console.log('hello');
            nav.style.left = '0';
            navbar.style.display = 'none';
        })
        small_hamburger.addEventListener('click', function () {
            console.log('hello');
            nav.style.left = '-500%';
            navbar.style.display = 'block';
        })
        dark.addEventListener('click', function () {
            document.body.classList.toggle('darkMode');
            dark.classList.toggle('fa-moon')
        })
        // 
        document.addEventListener("DOMContentLoaded", function () {
            window.addEventListener('scroll', function () {
                if (window.scrollY > 0) {
                    document.getElementById('nav').classList.add('fixed-top');
                }
                else {
                    document.getElementById('nav').classList.remove('fixed-top');
                }
            });
        });
    </script>
    <script>
        AOS.init();
    </script>
    
</body>

</html>