<!-- footer -->
<footer>
    <div class="footer">
        <div class="item">
            <h1>Information</h1>
            <div class="content" id="content1">
                <img src="img/virus.png" alt="">
                <div class="cnttxt">
                    <p>Covid-19 Wear Mask Use <br> Precaution keep distance</p>
                </div>
            </div>

        </div>
        <div class="item">
            <h1>About</h1>
            <div class="content">

            </div>
        </div>
        <div class="item">
            <h1>Contact</h1>
            <div class="content">
                <i class="fas fa-map-marker-alt"></i> <span>Old Bank Road, Ghorahi 22400</span><br>
                <i class="fas fa-phone"></i> <span>+977-9866701165 / 082562096</span><br>
                <i class="fas fa-envelope"></i><span> samishanthapa0@gmail.com</span>
            </div>
        </div>
        <div class="item">
            <h1>Social</h1>
            <div class="content">
                <a href="" class="fab fa-facebook"> </a>
                <a href="" class="fab fa-instagram"></a>
                <a href="" class="fab fa-twitter"></a>
            </div>
        </div>
    </div>
    <div class="fend">
        <p>Copyright &copy all right reserved 2021 By Samishan</p>
    </div>
</footer>